<div class="body_wrap">
	<div class="left_column">
		<div class="game_list" ng-hide="gameMode">
			<select class="select_host"  multiple="multiple" ng-model="hosts">
				<option ng-repeat="host in hostArray" doublclick="joinToHost(hosts);" value="{{host.id}}" >{{host.hostName}} - {{host.name}}</option>
				
			</select>
			<input type="button" class="btn btn-primary" ng-click="createHostDlg=true; modalDlg=true" value="Create new"></input>
			<input type="button" class="btn" ng-click="joinToHost(hosts);" ng-show="hosts" value="Join"></input>
		</div>
		<div class="game_chat" ng-show="gameMode" >
			<div class="chat_history" ng-bind-html-unsafe="chatHistory"></div>
			
			<b>{{nickName}}</b> 
			<div class="input-append">
				<input id="chatGameMode" type="text" class="span3" ng-model="gameChatMsg" placeholder="Type here message">
				<button type="button" class="btn" ng-click="sendGameChat(gameChatMsg);" ng-disabled="!gameChatMsg"><i class="icon-envelope"></i>Send</button>
			</div>

			<button type="botton" class="btn btn-large btn-warning" ng-model="startGameBtn" ng-click="startGameBtn=false; initGame();" ng-show="startGameBtn">Start!</button>
			{{youHost}}
			
		</div>
	</div>

	<div class="center_wrap">
		<div class="info">
			<span ng-show="gameMode">
			Bots left: <b>{{botCounter}}</b><br />
			Score: <b>{{score}}</b><br />
			</span>
			Ping: <small style="color:#{{color}}">{{yourPing}}</small> ms.<br />
		</div>
		
		
		<div class="canvas_wrap">
			<canvas id="playRoomField" height="600" width="600"></canvas>
			<canvas id="bulletsField" height="600" width="600"></canvas>
		</div>
	</div>
	<div class="modal_wind" ng-show="modalDlg">
		<div id="createHostDlg" ng-show="createHostDlg" class="modal">
			
			<div class="modal-header">
				<button type="button" class="close" ng-click="createHostDlg=false; modalDlg=false" >&times;</button>
				<h4>Create new Host</h4>
			</div>
			<form class="form-horizontal">
				<div class="modal-body">
					<div class="control-group">
						<label class="control-label">Game name</label>
						<div class="controls">
							<input type="text" ng-model="inputNameGame" id="focusedInput" placeholder="Name">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Protect password</label>
						<div class="controls">
							<input type="text" ng-model="inputProtectCode" placeholder="Password">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-primary" ng-show="inputNameGame" value="Create host" ng-click="hostCreate();">
					<input type="button" class="btn" value="Cancel" ng-click="createHostDlg=false; modalDlg=false">
				</div>
			</form>
		</div>
		
	</div>
	<input type="button" value="Show" ng-click="checkList()">
	
</div>