#playRoomField,
#bulletsField{
	position: absolute;
	display: block;
	margin: auto;
	border: 1px solid #BEBEBE;
}
.canvas-container{
	position: absolute !important;
}
.canvas_wrap{
	position: relative;
	width: 600px;
	height: 600px;
	display: block;
	
}
.info{
	width: 190px;
	float: right;
}
div.center_wrap{
	width: 800px;
	margin: 0 auto 0 320px;
}
.body_wrap{
	
}
.select_host{
	width: 300px;
}
.game_list{
		
}
.left_column{
	float: left;
	width: 250px;
}
/*Dialogs*/
.modal_wind{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.45);
}
.chat_history{
	margin-bottom: 10px;
	padding: 5px;
	width: 290px;
	height: 440px;
	border: 1px solid #CCC;
	overflow: auto;
	font-size: 0.9em;
}